{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فدراسیون جودو استان البرز | فراموشی رمز عبور</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
<div id="Wrapper_resize" class="Fixed direction">
    <div id="Wrapper">
        <div class="user_box_center">
            <div class="user box-shadow" id="verification">
                <form action="{% url 'account:forget_password' %}" method="post" class="forget_password">
                    {% csrf_token %}
                    <div class="user_head">
                        <p>یادآوری کلمه عبور</p>
                    </div>
                    <div class="user_input_box">

                        <div class="user_input">
                            <p>کدملی</p>
                            <input type="text" name="nationalcode" placeholder=" کد ملی  خود را وارد نمایید" required>
                        </div>

                        <div class="user_input">
                            <p>شماره موبایل خود را وارد نمائید.</p>
                            <input type="text" name="mobile" placeholder="شماره موبایل خود را وارد نمایید" required>

                        </div>

                        <div class="user_input">
                            <button class="button">
                                <i class="fa fa-arrow-alt-square-right"></i>
                                یادآوری کلمه عبور
                            </button>
                        </div>

                        <div class="Loading"><img src="{% static 'images/load.gif' %}" alt="loading" width="90" height="90"/></div>
                        <div class="result">
                        </div>
                    </div>

                    <div class="user_help">
                        <a href="{% url 'account:register' %}">ورود به حساب کاربری</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="clr"></div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script type="text/javascript">
    $('#resend').click(function () {
        $.ajax(
        {
            url: '{% url 'account:resend_sms_code' %}',
            type: 'post',
            success: function (response) {
                $(".Loading").fadeOut();
                $('.result').empty().html('<div class="result_error">' + response["result"] + '</div>');

            }
        });
    });

    $(function ()
    {
        $(".forget_password").on("submit", function (event) {
            $(".result").empty();
            $(".Loading").fadeIn();
            event.preventDefault();
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();

            $.ajax(
            {
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                headers: {
                    "X-CSRFToken": csrftoken
                },
                data: $(this).serialize(),

                success: function (response) {
                    $(".Loading").fadeOut();

                    if (response["code"] == 1) {
                        $('.result').empty().html('<div class="result_success">' + response["result"] + '</div>');
                        window.location = response["url"]
                    } else {
                        $('.result').empty().html('<div class="result_error">' + response["result"] + '</div>');
                    }
                }
            });
        });
    });
</script>
</body>
</html>