{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>فدراسیون جودو استان البرز</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
<div id="Wrapper_resize" class="Fixed direction">
    <div id="Wrapper">
        <div class="user_box_center">
            <div class="user box-shadow" id="verification">
                <form action="{% url 'account:reset_password' %}" method="post" class="reset_password">
                    {% csrf_token %}
                    <div class="user_head">
                        <p>تغییر رمز عبور</p>
                    </div>
                    <div class="user_input_box">

                        <div class="user_input">
                            <p>رمز عبور جدید</p>
                            <input type="password" name="password" placeholder="رمز عبور جدید خود را وارد نمائید."
                                   required>

                        </div>

                        <div class="user_input">
                            <button class="button">

                                <i class="fa fa-arrow-alt-square-right"></i>
                                تغییر رمز عبور
                            </button>
                        </div>

                        <div class="Loading"><img src="{% static 'images/load.gif' %}" alt="loading"/></div>
                        <div class="result">
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="clr"></div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script type="text/javascript">

    $(function () {
        $(".reset_password").on("submit", function (event) {
            $(".result").empty();
            $(".Loading").fadeIn();
            event.preventDefault();
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();

            $.ajax(
                {
                    url: $(this).attr("action"),
                    type: $(this).attr("method"),
                    headers: {
                        "X-CSRFToken": csrftoken
                    },
                    data: $(this).serialize(),

                    success: function (response) {
                        $(".Loading").fadeOut();

                        if (response["code"] == 1) {
                            window.location = response['url']

                        } else {
                            $('.result').empty().html('<div class="result_error">' + response["result"] + '</div>');
                        }
                    }
                });
        });
    });
</script>
</body>
</html>