{% extends 'admin_panel_pages/master.html' %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'panel/css/panel-masterMe.css' %}">
{% endblock %}
{% block title %}| لیست گالری{% endblock %}
{% block content %}
    <div class="Panel_Box">
        <div class="Panel_Box_title">
            <span><a href="">لیست تصاویر</a></span>
            <a href="{% url 'panel:panel_gallery_add' %}" title="تعریف عکس" class="Panel_Edit_icon">
                <i class="fa fa-plus-square"></i>
            </a>
        </div>
        <div class="item_hide_box item_hide_box_remove">
            <div class="item_hide item_hide border_radius" style="height:100px"></div>
        </div>
        <div class="Panel_item_List">
            <table cellspacing="1">
                <thead>
                <tr>
                    <th>شماره</th>
                    <th>عکس</th>
                    <th>عنوان</th>
                    <th>وضعیت</th>
                    <th>عملیات</th>
                </tr>
                </thead>

                <tbody>
                {% if galery_list %}
                    {% for img in galery_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <div class="img_box_list"><img src="{{ img.small_img.url }}" width="45" height="45"></div>
                            </td>
                            <td><p>{{ img.title }}</p></td>

                            <td>
                                <label class="switch">
                                    <input onchange="item_Enable(this,'{% url 'panel:panel_gallery_enable' %}')" type="checkbox" value="{{ img.id }}"
                                            {% if img.is_published == True %}
                                           checked
                                            {% else %}
                                            {% endif %}
                                    >

                                    <span class="item_Enable"></span>
                                    {% if img.is_published == True %}
                                        <span class="tooltip">فعال</span>
                                    {% else %}
                                        <span class="tooltip">غیر فعال</span>

                                    {% endif %}
                                </label>
                            </td>


                            <td>
                                <a href="{% url 'panel:panel_gallery_edit' img.id %}" title="ویرایش">
                                    <i class="fa fa-pen" aria-hidden="true"></i>
                                </a>
                                <a onclick="item_Delete({{ img.id }},'{% url 'panel:panel_gallery_delete' %}')" title="حذف"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>

                    {% endfor %}
                {% else %}
                {% endif %}


                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block extrastyle1 %}
    <script>
        function item_hide_close(x) {
            $(".item_hide_box").fadeOut()
        }
    </script>
{% endblock %}