{% extends 'admin_panel_pages/master.html' %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'panel/css/panel-masterMe.css' %}">
{% endblock %}
{% block title %}|ویرایش خبر{% endblock %}

{% block content %}
    <div class="Panel_Box">
        <div class="desc" style="display: none;">{{ news_selected.description | safe }}</div>
        <form method="post" action="{% url 'panel:panel_news_edit' news_selected.id %}" enctype="multipart/form-data" class="form_news_edit">
            {% csrf_token %}
            <div class="action_result"></div>
            <div class="Panel_Box_title">
                <span class="title"><a href="">ویرایش خبر</a></span>
                <button href="{% url 'panel:panel_news_edit' news_selected.id %}" title="ذخیره" class="Panel_Edit_icon">
                    <i class="fa fa-floppy-o"></i>
                </button>
            </div>
            {{ form.media }}

            <div class="Panel_item_show">

                {% for field in form %}
                    <div class="item_builder">
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}

                            <p style="color: red">{{ error }}</p>

                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
{% endblock %}
{% block extrastyle1 %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.item_builder').each(function (index, el) {
                if (index == 3) {
                    var input = $(this).find('div');
                } else if (index == 2) {
                    var input = $(this).find('textarea');
                    $(this).find('textarea').attr('rows', 3);
                    $(this).find('textarea').css('width', '30%');
                } else {
                    var input = $(this).find('input');
                }
                {#$(this).empty();#}
                if (index == 0) {
                    $(this).append('<span class="title">عنوان خبر</span>');

                } else if (index == 1) {
                    $(this).append('<span class="title">تصویر خبر</span>');

                } else if (index == 2) {
                    $(this).append('<span class="title">متن کوتاه خبر</span>');

                } else {
                    $(this).append('<span class="title">متن خبر</span>');

                }
                if (index == 3) {
                    $(this).find(':first-child').css('display', 'none');

                    var desc = $('.desc').html();
                    $(this).find('#id_description').html(desc)
                } else {
                    $(this).find(':first-child').remove();
                    $(this).find('#id_title').val('{{ news_selected.title }}');
                    $(this).find('#id_short_text').val('{{ news_selected.short_text }}')

                }
                $(this).append(input);

                if (index == 1) {

                    $(this).append('\n' +
                        '                <div class="item_help">\n' +
                        '                  <a title="مشاهده تصویر" onclick="show_item_hide(this)"><i class="fa fa-eye" aria-hidden="true"></i></a>\n' +
                        '                  <a title="سایز عکس : 310 * 174"><i class="fa fa-question-circle" aria-hidden="true"></i></a>\n' +
                        '                </div>\n' +
                        '\n' +
                        '                <div class="item_hide_box">\n' +
                        '                  <div class="item_hide">\n' +
                        '                    <div class="item_hide_close" onclick="item_hide_close(this)"><i class="fa-times fa"></i></div>\n' +
                        '                    <img src="{{ news_selected.image_1.url }}" width="310" height="174">\n' +
                        '                  </div>\n' +
                        '                </div>')
                }


                $(this).append('<div class="clr"></div>')

            })
        });
        $(".form_news_edit").on("submit", function (event) {
            for (instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].updateElement();
            }
            var formData = new FormData($(this)[0]);
            $(".action_result").hide();
            event.preventDefault();
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajax(
                {
                    processData: false,
                    contentType: false,
                    url: $(this).attr("action"),
                    type: $(this).attr("method"),
                    headers: {
                        "X-CSRFToken": csrftoken
                    },
                    data: formData,

                    success: function (response) {
                        if (response["code"] == 100) {
                            window.location = response["url"]
                        } else {
                            $('.action_result').empty().text(response["error"]);
                            $(".action_result").show();
                        }
                    }
                });
        });
    </script>
{% endblock %}