{% extends 'admin_panel_pages/master.html' %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'panel/css/panel-masterMe.css' %}">
{% endblock %}
{% block title %}| تغییر پسورد {% endblock %}

{% block content %}
    <div class="Panel_Box">
          <form action="{% url 'panel:panel_profile_change_pass' %}" method="POST" class="form_change_pass">
          {% csrf_token %}
          <div class="action_result"></div>
            <div class="action_result">لطفا فیلدهای ضروری را پر کنید</div>
            <div class="Panel_Box_title">
              <span>اطلاعات شخص حقیقی</span>
              <button href="" title="ذخیره" class="Panel_Edit_icon"><i class="fa fa-floppy-o"></i></button>
            </div>

            <div>
              <div class="Panel_UserProfile"><div>
                {% if profile_user.personal_image  %}
                    <img src="{{ profile_user.personal_image.url }}">
                {% else  %}
                    <img src="{% static 'panel/images/Panel-Profile.jpg' %}">
                {% endif %}

              </div></div>
              <div class="Panel_UserInfo">
                <table>
                    <tbody>
                      <tr>
                        <td>رمز عبور قدیم :  <input type="password" name="passwordold" required="" style="width:60%" autocomplete="off"></td>
                      </tr>

                      <tr>
                          <td> رمز عبور جدید: <input type="password" name="password" required="" style="width:60%" autocomplete="off"></td>
                      </tr>

                      <tr>
                          <td>تکرار رمز عبور جدید: <input type="password" name="passwordrepeat" required="" style="width:60%" autocomplete="off"></td>
                      </tr>
                  </tbody>
                </table>
              </div>
              <div class="clr"></div>
            </div>
          </form>
        </div>
{% endblock %}



{% block extrastyle1 %}
    <script type="text/javascript">
     $(".form_change_pass").on("submit", function(event)
        {
            var formData = new FormData($(this)[0]);
            $(".action_result").hide();
            event.preventDefault();
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajax(
            {
                processData: false,
                contentType: false,
                url:  $(this).attr("action"),
                type: $(this).attr("method"),
                  headers:{
                "X-CSRFToken": csrftoken
                        },
                data: formData,

                success: function(response)
                {
                    if (response["code"] == 100)
                    {
                        window.location = response["url"]
                    }
                    else
                    {
                        $('.action_result').empty().text(response["error"]);
                        $(".action_result").show();
                    }
                }
            });
        });

    </script>
{% endblock %}